.mainContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
}

.newBoardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border: 1px solid white;
    padding: 1em;
    gap: 1em;
}

.newBoardContainer .input{
    width: 80%;
    border-radius: 20px;
}

.buttons{
    display: flex;
    gap: 1em;
}

.applyButton, .cancelButton{
    all: unset;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.2s ease;
}

.applyButton{
    background-color: var(--touch);
}

.cancelButton{
    background: grey;
}

.applyButton:hover, .cancelButton:hover{
    transform: scale(1.05);
}

.warningText{
    color: #d9534f;
    animation: shake 0.2s ease;
}

@keyframes shake {
    0%{
        transform: translateX(2%) ;
    }
    25%{
        transform: translateX(-2%) ;
    }
    50%{
        transform: translateX(2%) ;
    }
    100%{
        transform: translateX(0%) ;
    }
}
